{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center mb-4">About Us</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Farm-Mate</h5>
      <p class="card-text">
        Farm-Mate is a website that offers intelligent solutions to maximize
        yields, optimize resources, and make data-driven decisions for a smarter
        future in agriculture. We empower farmers with AI and ML to help them
        farm intelligently.
      </p>
    </div>
  </div>
</div>

{% endblock %}
