{% extends 'base.html' %}

{% block title %}Crop Recommendation System{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center mb-4">Crop Recommendation System</h1>
  <form action="{% url 'result' %}" method="POST">
    {% csrf_token %}
    <div class="form-group row">
      <label for="nitrogen" class="col-sm-12 col-form-label text-center">Nitrogen</label>
      <div class="col-sm-6 mx-auto">
        <input
          type="text"
          id="nitrogen"
          name="nitrogen"
          class="form-control"
          required
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="phosphorus" class="col-sm-12 col-form-label text-center">Phosphorus</label>
      <div class="col-sm-6 mx-auto">
        <input
          type="text"
          id="phosphorus"
          name="phosphorus"
          class="form-control"
          required
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="potassium" class="col-sm-12 col-form-label text-center">Potassium</label>
      <div class="col-sm-6 mx-auto">
        <input
          type="text"
          id="potassium"
          name="potassium"
          class="form-control"
          required
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="temperature" class="col-sm-12 col-form-label text-center">Temperature</label>
      <div class="col-sm-6 mx-auto">
        <input
          type="text"
          id="temperature"
          name="temperature"
          class="form-control"
          required
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="humidity" class="col-sm-12 col-form-label text-center">Humidity</label>
      <div class="col-sm-6 mx-auto">
        <input
          type="text"
          id="humidity"
          name="humidity"
          class="form-control"
          required
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="ph" class="col-sm-12 col-form-label text-center">pH</label>
      <div class="col-sm-6 mx-auto">
        <input type="text" id="ph" name="ph" class="form-control" required />
      </div>
    </div>

    <div class="form-group row">
      <label for="rainfall" class="col-sm-12 col-form-label text-center">Rainfall</label>
      <div class="col-sm-6 mx-auto">
        <input
          type="text"
          id="rainfall"
          name="rainfall"
          class="form-control"
          required
        />
      </div>
    </div>

    <div class="btn-container text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
